<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.zhengjie.modules.system.mapper.ResourceRequirementsMapper">
    <resultMap id="BaseResultMap" type="me.zhengjie.modules.system.domain.ResourceRequirements">
        <id column="ID" property="id"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID, name, type
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from resource_requirements
        <where>
        </where>
        order by ID desc
    </select>
</mapper>